<style>
  .hide {
	  display:none;
  }
  .show {
	  display:block;
  }
  </style>
    <title>Movie Reservaion</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/dashboard/images/favicon.png" rel="icon" type="image/png" />
  <head>
    <title>Fees Pay</title>
  </head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <div class="container">
	  <div class="row col-sm-3" style="height: 300px;">
	  </div>
	  <div class="row col-sm-6 row well" style="margin-top: 25vh;">
		  <img src="{{url_for('static', filename='left.png')}}" class="img-thumbnail" alt="Fees Pay" style="margin-bottom: 20px;">
		  <form action="/login" method="POST">
			  <div class="col-sm-2"></div>
			  <div class="col-sm-8">
			  <div>
			   <input style="margin-top: 10px;" name="username" id="username" type="text" class="form-control" placeholder="Username">
			   <input style="margin-top: 10px;" name="password" id="password" type="text" class="form-control" placeholder="Password">
			  </div>
			   <button style="margin-top: 10px;" name="loginSubmit" type="submit" class="btn btn-primary col-sm-6">Login</button>	
			  </div>
			 
		   </form>
	  </div>
	  
	  <script>
	 
	  </script>
	  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
